@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
     font-family:"Poppins", sans-serif;
}
nav{
    background-color: blue;
    height: 50px;
    margin-top: 5px;
}

a{
    color: bisque;
    text-decoration: none;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.but{
    transform: translate(0%,40%);
    border: 2px solid white;
    border-radius: 4px;
    color: bisque;
}
h1{
    text-align: center;
    text-wrap: balance;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
p{
    text-align: center;
}
.flex{
    display: flex;
}
.car{
    margin: 2%;
}
.image{
    width: 47%;
}
.cari{
width: 520px;
}
.type{
    transform: translateY(50px);
    gap: 5px;
    width: 47%;
}
.uni{
    display: flex;
    flex-direction: row-reverse;    
}
.bgcolor{
    background-color: black;
    color: azure;
    width:100%;
}
.footer{
    background-color: blue;
    width: 100vw;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.cut{
    transform: translateY(1px);
}
